fastapi>=0.112.0
uvicorn[standard]>=0.30.0
pydantic>=2.7.0
pydantic-settings>=2.4.0
python-dotenv>=1.0.1
pyyaml>=6.0.1
types-PyYAML>=6.0.12.20240808   # <-- add this line
python-multipart>=0.0.9
prometheus-client>=0.20.0
httpx>=0.28.1
pyjwt[crypto]>=2.8.0
redis>=5.0.0
beautifulsoup4>=4.9.3,<5
python-docx>=0.8.11
lxml<5.0.0
Jinja2>=3.1.3
