name: prom-rules
on:
  pull_request:
    paths:
      - "monitoring/prometheus/*.yml"
jobs:
  promtool:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install promtool
        run: |
          curl -sLo promtool.tgz \
            https://github.com/prometheus/prometheus/releases/download/v2.53.0/\
            prometheus-2.53.0.linux-amd64.tar.gz
          tar -xzf promtool.tgz
          echo "$(pwd)/prometheus-2.53.0.linux-amd64" >> $GITHUB_PATH
      - name: Check rules
        run: promtool check rules monitoring/prometheus/*.yml
