name: release-please

on:
  workflow_dispatch: {}
  push:
    branches: [main]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v4
        with:
          release-type: python
          package-name: guardrail-api-core
          bump-minor-pre-major: true
          extra-files: |
            pyproject.toml
